In [ ]:
#importing data from sql: telco_churn dataset.
# this notebook is used for the generation of functions to bring in telco_churn data from the Codeup DB

In [ ]:
import pandas as pd
import numpy as np
import os
from env import host, user, password

In [ ]:
#Objective 1: connect to the Codeup db. REMEMBER TO CREATE .gitignore and include env.py within this!
###################### Acquire Telco_Churn Data ######################

def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [ ]:
# need to create sql query to specify what tables im intrested in including.

In [ ]:
#####################################################################

def telco_churn_data():
    '''
    This function reads the telco_churn data from the Codeup db into a df,
    write it to a csv file, and returns the df.
    '''
    # Create SQL query.
    sql_query = '''
    select * from customers as c 
    join contract_types as ct ON c.contract_type_id = ct.contract_type_id
    join internet_service_types as ist ON c.contract_type_id = ist.internet_service_type_id
    join payment_types as pt ON c.payment_type_id = pt.payment_type_id;
    '''
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('telco_churn'))
    
    return df

In [ ]:

#####################################################################
def get_telco_churn_data(cached=False):
    '''
    This function reads in telco_churn data from Codeup database and writes data to
    a csv file if cached == False or if cached == True reads in telco_churn df from
    a csv file, returns df.
    '''
    if cached == False or os.path.isfile('telco_churn.csv') == False:
        
        # Read fresh data from db into a DataFrame.
        df = telco_churn_data()
        
        # Write DataFrame to a csv file.
        df.to_csv('telco_churn.csv')
        
    else:
        
        # If csv file exists or cached == True, read in data from csv file.
        df = pd.read_csv('telco_churn.csv', index_col=0)
        
    return df

In [1]:
#Final product upon completion of functions should result in df below
#for information regarding function for get_telco_churn refer to prepare.py

In [2]:
telco_churn = acquire.get_telco_churn_data()

In [ ]:
#.acquire function brings in needed data!

In [3]:
telco_churn.head(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0057-QBUQH,Female,0,No,Yes,43,Yes,Yes,3,No internet service,...,1,25.10,1070.15,No,3,Two year,3,None,1,Electronic check
1,0106-UGRDO,Female,0,Yes,No,69,Yes,Yes,2,Yes,...,1,116.00,8182.85,No,3,Two year,3,None,1,Electronic check
2,0136-IFMYD,Male,1,Yes,No,69,Yes,Yes,2,No,...,1,109.95,7634.25,No,3,Two year,3,None,1,Electronic check
3,0164-APGRB,Female,0,No,No,72,Yes,Yes,2,Yes,...,1,114.90,8496.7,No,3,Two year,3,None,1,Electronic check
4,0253-ZTEOB,Female,0,Yes,Yes,48,Yes,Yes,1,No,...,1,79.65,3870.3,No,3,Two year,3,None,1,Electronic check

In [ ]:

#####################################################################
def get_telco_churn_data(cached=False):
    '''
    This function reads in telco_churn data from Codeup database and writes data to
    a csv file if cached == False or if cached == True reads in telco_churn df from
    a csv file, returns df.
    '''
    if cached == False or os.path.isfile('telco_churn.csv') == False:
        
        # Read fresh data from db into a DataFrame.
        df = telco_churn_data()
        
        # Write DataFrame to a csv file.
        df.to_csv('telco_churn.csv')
        
    else:
        
        # If csv file exists or cached == True, read in data from csv file.
        df = pd.read_csv('telco_churn.csv', index_col=0)
        
    return df